<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header Comp</title>
</head>
<body>
        <div>
            <a class="hedt1" href="/">Home</a>
            <a class="hedt1" href="/services">Services</a>
            <a class="hedt1" href="/team">Team</a>
        </div>
</body>
</html>